parameters:
  level: max
  paths:
    - tests/BlockContent
  ignoreErrors:
    - message: '#Parameter \#1 \$block of callable Sanity\\BlockContent\\Serializers\\DefaultImage expects#'
      path: tests/BlockContent/Serializers/DefaultImageTest.php
